<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.invech.platform.dsfcenterdao.dao.SysMapper">
	<select id="findSiteOne"
		resultType="com.invech.platform.dsfcenterdata.entity.TSite">
		select t1.*,t2.siteUrl
		from t_cp_site t1,t_cp_siteurl t2
		where t1.id=t2.siteId and t1.available=1 and
		t2.siteUrl like
		CONCAT('%',#{siteUrl},'%') limit 1
	</select>
	<select id="findSite"
		resultType="com.invech.platform.dsfcenterdata.entity.TSite">
		select t1.*,t2.siteUrl
		from t_cp_site t1,t_cp_siteurl t2
		where t1.id=t2.siteId and t1.available=1
	</select>
	<select id="findGmApiOne"
		resultType="com.invech.platform.dsfcenterdata.entity.TGmApi">
		select t1.siteCode,t2.prefix,t3.* from t_cp_site
		t1,t_gm_apiprefix
		t2,t_gm_api t3,t_gm_depot t4 where t1.id=t2.siteId and
		t2.apiId=t3.id and t3.depotId=t4.id and t4.available=1
		and t1.siteCode=#{siteCode} and t3.depotId=#{depotId}
		limit 1
	</select>
	<update id="updateSchema">
		update t_schema set siteCode=#{siteCode} ,isUsed=1
		where id=#{id} and isUsed=0
	</update>
	<select id="selectTschemaOne"
		resultType="com.invech.platform.dsfcenterdata.entity.TSchema">
		select * from t_schema where isUsed=0 order by id asc limit
		1
	</select>
	<select id="listSysConfig"
		resultType="com.invech.platform.dsfcenterdata.entity.TSysConfig">
		select * from s_sys_config where groups=#{groups};
	</select>

	<select id="getSiteCode" resultType="java.lang.String">
		select a.siteCode from t_cp_site a where a.schemaName=#{siteCode}
	</select>

	<update id="updateTschemaSiteCode" parameterType="com.invech.platform.dsfcenterdata.entity.TSchema">
		update t_schema set siteCode = #{siteCode} , isUsed =  #{isUsed} where id = #{id} and isUsed = 0
	</update>
	<!--
	INSERT INTO `saasops_manage`.`t_gm_apiprefix` (`apiId`, `prefix`, `siteId`, `available`, `createUser`, `createTime`, `modifyUser`, `modifyTime`) VALUES ( '10061', 'model', '84', '1', '', '2018-03-23 09:35:28', '', '2018-03-23 09:35:28');
	INSERT INTO `saasops_manage`.`t_gm_apiprefix` ( `apiId`, `prefix`, `siteId`, `available`, `createUser`, `createTime`, `modifyUser`, `modifyTime`) VALUES ( '110007', 'model', '84', '1', NULL, '2018-03-23 09:35:31', NULL, '2018-03-23 09:35:31');
	INSERT INTO `saasops_manage`.`t_gm_apiprefix` ( `apiId`, `prefix`, `siteId`, `available`, `createUser`, `createTime`, `modifyUser`, `modifyTime`) VALUES ( '140027', 'AF8model', '84', '1', NULL, '2018-04-04 17:50:31', NULL, '2018-04-04 17:50:31');
	INSERT INTO `saasops_manage`.`t_gm_apiprefix` (`apiId`, `prefix`, `siteId`, `available`, `createUser`, `createTime`, `modifyUser`, `modifyTime`) VALUES ( '120004', 'model', '84', '1', NULL, '2018-03-23 09:35:34', NULL, '2018-03-23 09:35:34');
	INSERT INTO `saasops_manage`.`t_gm_apiprefix` ( `apiId`, `prefix`, `siteId`, `available`, `createUser`, `createTime`, `modifyUser`, `modifyTime`) VALUES ( '50019', 'model', '84', '1', '', '2018-03-23 09:35:35', '', '2018-03-23 09:35:35');
	INSERT INTO `saasops_manage`.`t_gm_apiprefix` ( `apiId`, `prefix`, `siteId`, `available`, `createUser`, `createTime`, `modifyUser`, `modifyTime`) VALUES ( '20012', 'model', '84', '1', '', '2018-03-23 09:36:14', '', '2018-03-23 09:36:14');
	-->
	<insert id="insertApiPrefix" parameterType="com.invech.platform.dsfcenterdata.entity.TGmApiPrefix">
	INSERT INTO t_gm_apiprefix (`apiId`, `prefix`, `siteId`, `available`, `createUser`, `createTime`, `modifyUser`, `modifyTime`)
	VALUES
	( #{apiId}, #{prefix}, #{siteId}, '1', #{createUser}, #{createTime}, #{modifyUser}, #{modifyTime});
	</insert>

	<select id="selectApiPrefixByModel" resultType="com.invech.platform.dsfcenterdata.entity.TGmApiPrefix">
		select * from t_gm_apiprefix where siteId = 84 ;
	</select>
</mapper>