<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.invech.platform.dsfcenterdao.dao.SysMapper">
	<select id="findSiteOne"
		resultType="com.invech.platform.dsfcenterdata.entity.TSite">
		select t1.*,t2.site_url
		from t_site t1,t_site_url t2
		where t1.id=t2.site_id and t1.available=1 and
		t2.site_url like
		CONCAT('%',#{siteUrl},'%') limit 1
	</select>
	<select id="findSite"
		resultType="com.invech.platform.dsfcenterdata.entity.TSite">
		select t1.*,t2.site_url
		from t_site t1,t_site_url t2
		where t1.id=t2.site_id and t1.available=1
	</select>
	<select id="findGmApiOne"
		resultType="com.invech.platform.dsfcenterdata.entity.TGmApi">
		select t1.site_code,t2.prefix,t3.* from t_site
		t1,t_gm_api_prefix
		t2,t_gm_api t3,t_gm_depot t4 where t1.id=t2.site_id and
		t2.api_id=t3.id and t3.depot_id=t4.id and t4.available=1
		and t1.site_code=#{siteCode} and t3.depot_id=#{depotId}
		limit 1
	</select>
	<update id="updateSchema">
		update t_schema set site_code=#{siteCode} ,is_used=1
		where id=#{id} and is_used=0
	</update>
	<select id="selectTschemaOne"
		resultType="com.invech.platform.dsfcenterdata.entity.TSchema">
		select * from t_schema where is_used=0 order by id asc limit
		1
	</select>
	<select id="listSysConfig"
		resultType="com.invech.platform.dsfcenterdata.entity.TSysConfig">
		select * from s_sys_config where groups=#{groups};
	</select>

	<select id="getSiteCode" resultType="java.lang.String">
		select a.site_code from t_site a where a.schema_name=#{siteCode}
	</select>

	<update id="updateTschemaSiteCode" parameterType="com.invech.platform.dsfcenterdata.entity.TSchema">
		update t_schema set site_code = #{siteCode} , is_used =  #{isUsed} where id = #{id} and is_used = 0
	</update>

	<insert id="insertApiPrefix" parameterType="com.invech.platform.dsfcenterdata.entity.TGmApiPrefix">
	INSERT INTO t_gm_apiprefix (`api_id`, `prefix`, `site_id`, `available`, `create_user`, `create_time`, `modify_user`, `modify_time`)
	VALUES
	( #{apiId}, #{prefix}, #{siteId}, '1', #{createUser}, #{createTime}, #{modifyUser}, #{modifyTime});
	</insert>

	<select id="selectApiPrefixByModel" resultType="com.invech.platform.dsfcenterdata.entity.TGmApiPrefix">
		select * from t_gm_apiprefix where site_id = 1 ;
	</select>
</mapper>